@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --borderColor: #96ae97;
    --hoverColor: #96ae971f;
    --btnColor: #96ae97;
    --btnTransition: 0.5s;
    --btnFontColor: black;
}

* {
    font-family: "Jost", sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

/* Navbar */
.navbar{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 70px; */
    border-bottom: 1px solid var(--borderColor);
    background-color: var(--hoverColor);
    position: fixed;
    width: 100%;
    backdrop-filter: blur(10px);
    z-index: 10;
}
.navbar__s2 a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 7px 20px;
    border: 1px solid #00000000;
    transition: var(--btnTransition);
}
.navbar__s2 a:hover{
    padding: 7px 20px;
    background-color: var(--hoverColor);
    border-radius: 20px;
    border: 1px solid var(--borderColor);
    transition: var(--btnTransition);
}
.navbar .login, .quality button{
    font-size: 18px;
    border: none;
    padding: 7px 20px;
    border-radius: 10px;
    background-color: var(--btnColor);
    color: var(--btnFontColor);
    transition: var(--btnTransition);
}
.navbar .login:hover, .quality button:hover{
    background-color: #96ae97a8;
    transition: var(--btnTransition);
}

/* Banner */
.banner{
    text-align: center;
    background-color: #ffffff;
    background-image: linear-gradient(#bacdcf2d 4px, transparent 4px), linear-gradient(to right, #bacdcf2d 4px, #ffffff 4px);
    background-size: 150px 150px;
}
.banner__s1 span, .about span, .why span, .quality span{
    font-size: 20px;
    color: var(--btnColor);
    padding: 7px 12px;
    border-radius: 5px;
    background-color: var(--hoverColor);
}
.banner__s1 h1{
    font-weight: 500;
    margin: 10px 0px;
    /* line-height: 93px; */
}
.banner__s1 i{
    color: #96ae97;
}
.banner__s1 p{
    color: #000000a3;
}
.banner__s2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner__s2s3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: block;
}
.banner__card {
    text-align: start;
    padding: 18px 40px;
    background-color: var(--btnColor);
    border-radius: 15px;
    color: white;
}
.banner__card h2{
    margin: 0px 0px 10px;
    font-weight: 400;
    font-size: 24px;
}
.banner__card p{
    margin: 10px 0px;
    font-weight: 400;
}
.banner__s2 button{
    font-size: 16px;
    padding: 7px 12px;
    border-radius: 5px;
}

/* brands */
.brands{
    margin: 140px 0px 0px;
}
.brands img{
    width: 300px;
    border-radius: 10px;
}

/* About */
.about__sCard{
    text-align: center;
    border: 1px solid var(--borderColor);
    border-radius: 20px;
}
.about__sCard h1{
    color: var(--btnColor);
}
.about__sCard p{
    color: #000000a3;
}

/* Why Choose us */
.why__card{
    border: 1px solid var(--borderColor);
    border-radius: 20px;
}
.why__card i{
    color: var(--btnColor);
    background-color: #96ae9723;
    border-radius: 50%;
}
.why__card p{
    color: gray;
}